/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* ---------------RESET CSS------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ---------------------------------- */

:root {
  --principal-color: #172048;
  --secondary-color: #3A8EF6;
  --gray-100: #141414;
  --gray-90: #282828;
  --gray-80: #3c3c3c;
  --gray-70: #505050;
  --gray-60: #646464;
  --gray-50: #787878;
  --gray-40: #8c8c8c;
  --gray-30: #a0a0a0;
  --gray-20: #b4b4b4;
  --gray-10: #c8c8c8;
  --gray-5: #dcdcdc;
  --gray-0: #f0f0f0;
  --white: #ffffff;
  --black: #000000;

}

html {
  /*Fuente para que el rem coincida con los pixeles*/
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background-color: var(--gray-0);
  height: 100%;
}

body {
  height: 100%;
}

#root{
  height: 100%;
}

/*--- General Styles ---*/

button {
  border: none;
}

h1 {
  color: var(--gray-80);
  font-size: 4.8rem;
  font-weight: 900;
}

h2 {
  color: var(--gray-80);
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  color: var(--gray-60);
  font-size: 2.4rem;
  font-weight: 500;
}

p.principal {
  color: var(--gray-80);
  font-size: 2.4rem;
  font-weight: 500;
}

p.text {
  color: var(--gray-100);
  font-size: 2.0rem;
  font-weight: 500;
}

p.text-small {
  color: var(--gray-60);
  font-size: 1.6rem;
  font-weight: 300;
}

/*--- Botones ---*/
.button_xl_1 {
  width: 600px;
  height: 100px;
  background-color: var(--principal-color);
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 12px;
}

.button_xl_2 {
  width: 600px;
  height: 100px;
  background-color: var(--secondary-color);
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 12px;
}

.button_l_1 {
  width: 600px;
  height: 72px;
  background-color: var(--principal-color);
  color: var(--white);
  font-size: 2.0rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 12px;
}

.button_l_2 {
  width: 600px;
  height: 72px;
  background-color: var(--secondary-color);
  color: var(--white);
  font-size: 2.0rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 12px;
}

.button_s_1 {
  width: 200px;
  height: 60px;
  background-color: var(--principal-color);
  color: var(--white);
  font-size: 2.0rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 12px;
}

.button_s_2 {
  width: 300px;
  height: 8.0px;
  background-color: var(--secondary-color);
  color: var(--white);
  font-size: 2.0rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 12px;
}

.button_xl_1:active, .button_xl_2:active, 
.button_l_1:active, .button_l_2:active,
.button_s_1:active, .button_s_2:active{
  opacity: 0.8;
}

.button_xl_1:hover, .button_xl_2:hover,
.button_l_1:hover, .button_l_2:hover,
.button_s_1:hover, .button_s_2:hover{
  opacity: 0.9;
}


/*--- User Log ---*/

.user_log_container {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
  text-align: center;
}

.user_log_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.user_log_buttons {
  display: flex;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
  width: 50%;
}

.user_log_form .button_s_1 {
  width: 50%;
}

.document_input {
  background-color: var(--gray-5);
  width: 60%;
  color: var(--gray-80);
  font-size: 4.0rem;
  font-weight: 700;
  box-shadow: -0.5px 0.5px 2px var(--gray-60);
}

.document_input_button {
  width: 120px;
  height: 120px;
  background-color: var(--secondary-color);
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: inset 1px -1px 4px var(--gray-100);
}

.document_input_button:active {
  opacity: 0.8;
  box-shadow: none;
}

.document_input_button.delete {
  background-color: var(--gray-40);
}

.document_input_button.delete:active {
  opacity: 0.8;
  box-shadow: none;
}

/* --- User Request Turn --- */
.user_request_turn_container {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  gap: 120px;
}

/* --- Modal --- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  width: 30%;
  height: 30%;
  background-color: var(--gray-0);
  border-radius: 24px;
  padding: 40px;
  box-shadow: 0px 0px 10px var(--gray-60);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal_buttons_container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.modal_buttons_container .button_l_1,
.modal_buttons_container .button_l_2 {
  width: 50%;
}

/* --- Asesor Panels --- */

.advisor_panel_id{
  margin-top: 40px;
  margin-left: 40px;
}

.advisor_panel_container {
  width: 40%;
  height: 80%;
  margin-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.advisor_panel_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.advisor_panel_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.advisor_panel_info {
  display: flex;
  align-self: flex-start;
  margin-left: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.advisor_panel_container p.principal {
  align-self: flex-start;
  margin-left: 80px;
}

/* --- Stats --- */

.stats_title {
  margin: 40px 0;
  text-align: center;
}

.stats_container {
  width: 100%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.stats_subcontainer {
  width: 80%;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: solid 1px var(--gray-80);
  border-radius: 16px;
  box-shadow: -0.5px 0.5px 4px var(--gray-40);
}

.stats_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  width: 80%;
}

.stats_info_items{
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.stats_filter {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.stats_form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 20px;
}

.stats_form label {
  color: var(--gray-60);
  font-size: 2.4rem;
  font-weight: 500;
}

.stats_form select {
  width: 200px;
  height: 40px;
  background-color: var(--white);
  color: var(--gray-80);
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 8px;
}

.stats_form input{
  width: 200px;
  height: 40px;
  background-color: var(--white);
  color: var(--gray-80);
  font-size: 2.4rem;
  font-weight: 700;
  border: solid 1px var(--gray-60);
  border-radius: 8px;
}


/* --- Turns --- */

.turns_title{
  margin: 40px 0;
  text-align: center;
}

.turns_container{
  width: 100%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
}

.turns_lastTurns{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.turns_activeList{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.turn_card{
  width: 400px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px var(--gray-80);
  box-shadow: -0.5px 0.5px 4px var(--gray-40);
}

.turns_lastTurn.turn_card{
  width: 500px;
  height: 200px;
}

.turn_card .turns_turn{
  width: 100%;
  height: 70%;
  background-color: var(--gray-5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn_card .turns_advisor{
  width: 100%;
  height: 30%;
  background-color: var(--gray-30);
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn_card .turns_turn h1{
  color: var(--gray-90);
  text-align: center;
}

.turn_card .turns_turn h2{
  color: var(--gray-90);
  text-align: center;
}

.turn_card .turns_advisor p{
  color: var(--gray-0);
  text-align: center;
  font-weight: 700;
}